In [132]:
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="root"
)

mycursor = mydb.cursor()

mycursor.execute("CREATE DATABASE mydb")

In [1]:
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="root")

mycursor = mydb.cursor()

mycursor.execute("SHOW DATABASES")

for x in mycursor:
    print(x)

('django',)
('domains',)
('information_schema',)
('mysql',)
('performance_schema',)
('products',)
('test',)

In [134]:
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="root",
  database="mydb"
)

In [4]:
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="root",
  database="domains"
)

mycursor = mydb.cursor()

mycursor.execute("""CREATE TABLE domains1 (domain VARCHAR(20),
                  host_url VARCHAR(255), 
                  sub_domain VARCHAR(10),tld VARCHAR(10), url_from VARCHAR(255),
                  url_to VARCHAR(255),UNIQUE(domain))""")

In [137]:
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="root",
  database="mydb"
)

mycursor = mydb.cursor()

mycursor.execute("SHOW TABLES")

for x in mycursor:
    print(x)

('customers',)

In [22]:
query="""INSERT INTO customers (url_from,url_to,host_url,domain,sub_domain,tld) VALUES (%s, %s, %s, %s, %s, %s)"""

In [99]:
import pandas as pd
df = pd.read_csv(r'C:\Users\Anand kumar\Desktop\practice_notebooks\customers.csv')
df

,domain,host_url,sub_domain,tld,url_from,url_to
0,facebook,www.facebook.com,www,com,https://oxosolutions.com/,https://www.facebook.com/oxosolutions/
1,twitter,twitter.com,NaN,com,https://oxosolutions.com/,https://twitter.com/oxosolutions
2,youtube,www.youtube.com,www,com,https://oxosolutions.com/,https://www.youtube.com/oxosolutions
3,linkedin,www.linkedin.com,www,com,https://oxosolutions.com/,https://www.linkedin.com/company/oxo-solutions/
4,whatsapp,api.whatsapp.com,api,com,https://oxosolutions.com/,https://api.whatsapp.com/send?phone=9195010101...
...,...,...,...,...,...,...
679,oxosolutions,oxosolutions.com,NaN,com,https://oxosolutions.com/products/,https://oxosolutions.com/happenings/
680,oxosolutions,oxosolutions.com,NaN,com,https://oxosolutions.com/products/,https://oxosolutions.com/event/
681,oxosolutions,oxosolutions.com,NaN,com,https://oxosolutions.com/research/web/website-...,https://oxosolutions.com/research/iot/
682,oxosolutions,oxosolutions.com,NaN,com,https://oxosolutions.com/research/web/website-...,https://oxosolutions.com/research/security/
683,oxosolutions,oxosolutions.com,NaN,com,https://oxosolutions.com/research/web/website-...,https://oxosolutions.com/portfolio/

In [1]:
import pandas as pd
df = pd.read_csv(r'C:\Users\Anand kumar\Desktop\practice_notebooks\customers.csv')
for i in df.loc[0]:
    print(i)

facebook
www.facebook.com
www
com
https://oxosolutions.com/
https://www.facebook.com/oxosolutions/

In [18]:
class DomainsPipeline(object):
    def process_item(self, item, spider):
        query="""INSERT INTO domains (url_from,url_to,host_url,domain,sub_domain,tld) VALUES (%s, %s, %s, %s, %s, %s)"""
        params=(item['url_from'], item['url_to'], item['host_url'], item['domain'], item['sub_domain'], item['tld'])
        spider.cursor.insert(query,params)
        return item

In [19]:
a = [2,4,6,4,3,2]

In [48]:
domain = 'wwww.google.com'
domain.find('.')

4

In [49]:
domainparts = domain.split('.')
print(domainparts)

['wwww', 'google', 'com']

In [50]:
a = domainparts.pop()

In [52]:
domainparts

['wwww', 'google']

In [29]:
l.pop()

4

AttributeError: module 'pandas' has no attribute 'iterrows'

In [30]:
import pymysql
from pymysql import connect
import pandas as pd

In [44]:
database = connect( host = 'localhost',
                   user = 'root',
                   password = 'root'
                   )

cur = database.cursor()

query = 'show databases'

cur.execute(query)

databases = cur.fetchall() 

for db in databases:
    print(db)

('django',)
('information_schema',)
('mydb',)
('mysql',)
('performance_schema',)
('test',)

In [40]:
query1 = 'show tables'
#cur.execute(query1)

databases = cur.execute(query1)

In [41]:
print(databases)

1

In [51]:
import pymysql

# Open database connection
db = pymysql.connect( host = 'localhost',
                   user = 'root',
                   password = 'root',
                    database = 'mydb')

# prepare a cursor object using cursor() method
cursor = db.cursor()

# execute SQL query using execute() method.
cursor.execute("SELECT VERSION()")

# Fetch a single row using fetchone() method.
data = cursor.fetchone()
print ("Database version : %s " % data)

# disconnect from server
db.close()

Database version : customers

In [55]:
import pymysql

# Open database connection
db = pymysql.connect( host = 'localhost',
                   user = 'root',
                   password = 'root',
                    database = 'mydb')

# prepare a cursor object using cursor() method
cursor = db.cursor()

# execute SQL query using execute() method.
cursor.execute("show tables")

# Fetch a single row using fetchone() method.
data = cursor.fetchall()
print ("Tables in mydb : %s " % data)

# disconnect from server
db.close()

Tables in mydb : ('customers',)

In [82]:
import pymysql

# Open database connection
db = pymysql.connect( host = 'localhost',
                   user = 'root',
                   password = 'root',
                    database = 'mydb')

# prepare a cursor object using cursor() method
cursor = db.cursor()

# execute SQL query using execute() method.
cursor.execute("show columns from customers")

# Fetch a single row using fetchone() method.
print("columns in table customer : ")
for col in cursor.fetchall():
    print(col[0] , end='  ')

# disconnect from server
db.close()

columns in table customer :
domain  host_url  tld  sub_domain  url_from  url_to

In [75]:
import pymysql

# Open database connection
db = pymysql.connect( host = 'localhost',
                   user = 'root',
                   password = 'root',
                    database = 'mydb')

# prepare a cursor object using cursor() method
cursor = db.cursor()

# Prepare SQL query to INSERT a record into the database.
sql = """INSERT INTO EMPLOYEE(FIRST_NAME,
   LAST_NAME, AGE, SEX, INCOME)
   VALUES ('Mac', 'Mohan', 20, 'M', 2000)"""
try:
   # Execute the SQL command
   cursor.execute(sql)
   # Commit your changes in the database
   db.commit()
except:
   # Rollback in case there is any error
   db.rollback()

# disconnect from server
db.close()

In [131]:
import pandas as pd
df = pd.read_csv(r'C:\Users\Anand kumar\Desktop\practice_notebooks\customers.csv')
domains = list(df['domain'])

In [139]:
import sqlite3 as db

In [140]:
conn = db.connect('text.db')

In [141]:
cursor = conn.cursor()

In [147]:
cursor.execute("""create table tab(name text, father text)""")

In [148]:
conn.commit()
conn.close()

In [1]:
import pandas as pd
import sqlalchemy

In [2]:
engine = sqlalchemy.create_engine('mysql+pymysql://root:root@localhost:3306/domains')

In [3]:
df = pd.read_sql_table('domains',engine,columns=['host_url'])
len(df)

17746

In [7]:
domain_list = []
for li in df.values.tolist():
    domain_list.append(li[0])
len(domain_list)

17746

In [8]:
final_domains = []
for i in domain_list:
    if (i[:4] == 'www.'):
        r = i.replace('www.','')
        final_domains.append(r)
    else:
        final_domains.append(i)

In [9]:
len(final_domains)

17746

In [10]:
dd = pd.DataFrame(final_domains)

In [18]:
dd

                            0
0      bestwebsiteinindia.com
1                 twitter.com
2                facebook.com
3        feeds.feedburner.com
4      besteebsiteinindia.com
...                       ...
17741      alarmwillsound.com
17742              clppng.com
17743         thingiverse.com
17744             konvajs.org
17745          sweetwater.com

[17746 rows x 1 columns]

In [13]:
dd.to_csv('domains.csv',index=False)

In [14]:
df = pd.read_csv('domains.csv')

In [56]:
df

                      domain
0     bestwebsiteinindia.com
1               facebook.com
2        ireliefservices.com
3                  cubber.in
4            greatandhra.com
...                      ...
9338                ibeyi.fr
9339      alarmwillsound.com
9340              clppng.com
9341         thingiverse.com
9342          sweetwater.com

[9343 rows x 1 columns]

In [15]:
df.rename(columns =  {
    'Domain':'domain_name'
}, inplace = True)

In [16]:
df

                  domain_name
0      bestwebsiteinindia.com
1                 twitter.com
2                facebook.com
3        feeds.feedburner.com
4      besteebsiteinindia.com
...                       ...
17741      alarmwillsound.com
17742              clppng.com
17743         thingiverse.com
17744             konvajs.org
17745          sweetwater.com

[17746 rows x 1 columns]

In [17]:
df.to_sql(
    name = 'domainbase',
    con = engine,
    index = False
)

1